{% extends "personal/header.html" %}

{% block content %}
<P>
    Kinoteatr Einhorchen istnieje w Poznaniu od ponad stu lat. Po gruntownym remoncie, w 2005 roku Kino zostało otwarte na nowo oferując widzom już nie tylko piękną architekturę i wnętrza, lecz również najnowszą technologię wyświetlania obrazu i dźwięku.

Apollo posiada dwie nowoczesne sale kinowe, większa, mieści 390 widzów i jest również profesjonalną sceną teatralno-widowiskową wraz z zapleczem, mniejsza, mieści 90 osób.

Z racji posiadania w pełni profesjonalnej sceny o wyjątkowej akustyce, nowoczesnego sprzętu oraz profesjonalnej obsługi, Kinoteatr Apollo jest doskonałym miejscem do organizacji wszelkiego rodzaju przedsięwzięć, jak: spektakle teatralne dla dorosłych i dzieci, koncerty, występy taneczne, a także spotkania, konferencje, zjazdy firmowe i sympozja. W pięknych wnętrzach utrzymanych w stylu art déco mieści się kawiarnia, a na życzenie, możemy zorganizować również catering.

W Kinoteatrze Einhorchen staramy się pielęgnować najlepsze tradycje filmowe i teatralne. Współpracujemy z teatrami z całej Polski, które regularnie bywają u nas na spektaklach gościnnych, prezentując zarówno spektakle komediowe jak i bardziej poważne.

W naszym repertuarze kinowym gości przede wszystkim ambitne kino polskie, europejskie i światowe, lubimy też cofać się w czasie i wracać do nieśmiertelnej klasyki filmowej.

Zapraszamy do Kinoteatru Apollo i gwarantujemy niezapomniane wrażenia artystyczne, w pięknym, równocześnie staromodnym i nowoczesnym wnętrzu.
</P>

{% include "personal/includes/htmlsnippet.html"%}<!--w ten sposób możemy ozanczyć że dana rzecz się tutaj mieści-->

{% endblock %}


